@model IEnumerable<Employee>
@{
    ViewBag.Title = "Employee";
    
}


<h1>Index</h1>
<div class="card-deck">

    @foreach (var emp in Model)
    {
        var photoPath = "~/Images/" + (emp.PhotoUrl ?? "noImage.jpg");
        <div class="card m-3">
            <div class="card-header">@emp.Name</div>
            <img class="card-img-top" src="@photoPath" style="height:200px;width:auto;" asp-append-version="true" />
            <h4>@emp.Deparment</h4>
            <h4>@emp.Email</h4>
            <div class="card-footer text-center">
                <a asp-controller="home" asp-action="details" asp-route-id="@emp.EmpId" class="btn btn-primary">View</a>

                <a asp-controller="home" asp-action="edit" asp-route-id="@emp.EmpId" class="btn btn-primary">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>

        </div>

    }
</div>